{{#template 'component'}}

  {{#pageTitle}}Accessibility Guidance{{/pageTitle}}

  Nexus follows the Web Content Accessibility Guidelines (WCAG) - please reference the additional resources below for more information.


  <h2> Accessibility Guidelines and Documentation</h2>

  <h3><a href="https://www.a11yproject.com/" target="_blank">The A11Y Project</a></h3>
  The A11Y Project is a community-driven effort to make digital accessibility easier.

  <h3><a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">WCAG Overview</a></h3>
  Introducing the Web Content Accessibility Guidelines (WCAG) Overview

  <h3><a href="https://www.w3.org/TR/WCAG21/#intro" target="_blank">WCAG 2.1 Standards</a></h3>
  Web Content Accessibility Guidelines (WCAG) 2.1 covers a wide range of recommendations for making Web content more accessible.

  <h3><a href="https://www.w3.org/WAI/test-evaluate/" target="_blank">W3C Test and Evaluate</a></h3>
  Strategies, standards and supporting resources to help make the web more accessible.

  <h3><a href="https://www.w3.org/WAI/eval/report-tool/#!/#%2F" target="_blank">Website Accessibility Evaluation Report Generator</a></h3>
  This tool helps generate a report according to WCAG Evaluation Methods.


  <h2>Automated Testing Tool</h2>
  The <a href="https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd?hl=en-US" target="_blank">Axe Accessibility Checker</a> is a fast, lightweight accessibility testing tool the returns zero false positives.
  It only tests for accessibility issues that can be accurately detected via automation, and it only tests for components that actually exist on the page or application being tested.

  The axe Chrome extension utilizes the axe open source JavaScript library developed by Deque Systems - the third generation of accessibility rules for HTML-based user interfaces.


  <h2>Additional Browser Extensions for Accessibility Assessments</h2>
  <ol>
    <li><a href="https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd?hl=en-US" target="_blank">Axe</a></li>
    <li><a href="https://chrome.google.com/webstore/detail/lighthouse/blipmdconlkpinefehnmjammfjpmpbjk?hl=en" target="_blank">Lighthouse by Google</a></li>
    <li><a href="https://chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh?hl=en-US" target="_blank">WAVE Evaluation Tool</a></li>
    <li><a href="https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb?hl=en" target="_blank">Accessibility Developer Tools</a></li>
    <li><a href="https://chrome.google.com/webstore/detail/headingsmap/flbjommegcjonpdmenkdiocclhjacmbi" target="_blank">headingsMap</a></li>
  </ol>


  <h2>Color Contrast and Font Size Accessibility Assessments</h2>
  <ol>
    <li><a href="http://colorsafe.co/" target="_blank">Color Safe</a></li>
    <li><a href="https://contrastchecker.com/" target="_blank">Acart Communications Contrast Checker</a></li>
    <li><a href="https://webaim.org/resources/contrastchecker/" target="_blank">WebAim Color Contrast Checker</a></li>
    <li><a href="https://chrome.google.com/webstore/detail/color-contrast-analyzer/dagdlcijhfbmgkjokkjicnnfimlebcll" target="_blank">Color Contrast Analyzer</a></li>
  </ol>



  <a href="https://www.carbondesignsystem.com/guidelines/accessibility/overview/" target="_blank">IBM Carbon Design System Accessibility</a>


{{/template}}


