{{#template 'component'}}

  {{#pageTitle}}Sketch Design Kit{{/pageTitle}}

  Designers can easily use the Nexus Design System by following these steps:

  <ol>
    <li>Install Sketch - you must have <a href="https://www.sketch.com/" target="_blank">Sketch</a> installed to use our Nexus Design Library</li>
    <li>Get Nexus Design Library - download the recent version of the <a href="https://sketch.cloud/s/6cacde0d-b875-4d50-8d2a-e938f09fc7a9" target="_blank">Design Assets</a></li>
    <li>Select "Add/Update Library to Sketch"</li>
  </ol>


  <ul>
    <li>Install Plugin - you will need the <a href="https://github.com/Pausansol/Camilo" target="_blank">Camilo</a> plugin for managing the Library versions - edit the library version of your sketch file by: going to `plugins` and running the `"Camilo" plugin` > select the `nexus library` and select `swap`</li>
  </ul>


{{/template}}


