{{#template 'default'}}

{{#pageTitle}}Color Palette{{/pageTitle}}

<h2>Primary Colors</h2>

<h3>Main</h3>
{{#swatchList}}
  {{#swatch variable='$grey-900' src='packages/nexus/src/styles/_variables.scss'}}Grey 900 ($black){{/swatch}}
  {{#swatch variable='$grey-800' src='packages/nexus/src/styles/_variables.scss'}}Grey 800{{/swatch}}
  {{#swatch variable='$grey-700' src='packages/nexus/src/styles/_variables.scss'}}Grey 700{{/swatch}}
  {{#swatch variable='$grey-600' src='packages/nexus/src/styles/_variables.scss'}}Grey 600{{/swatch}}
  {{#swatch variable='$grey-500' src='packages/nexus/src/styles/_variables.scss'}}Grey 500{{/swatch}}
  {{#swatch variable='$grey-400' src='packages/nexus/src/styles/_variables.scss'}}Grey 400{{/swatch}}
  {{#swatch variable='$grey-300' src='packages/nexus/src/styles/_variables.scss'}}Grey 300{{/swatch}}
  {{#swatch variable='$grey-200' src='packages/nexus/src/styles/_variables.scss'}}Grey 200{{/swatch}}
  {{#swatch variable='$grey-100' src='packages/nexus/src/styles/_variables.scss'}}Grey 100 ($white){{/swatch}}
{{/swatchList}}

<h3>Primary Accent</h3>

{{#swatchList}}
  {{#swatch variable='$orange-900' src='packages/nexus/src/styles/_variables.scss'}}Orange 900{{/swatch}}
  {{#swatch variable='$orange-800' src='packages/nexus/src/styles/_variables.scss'}}Orange 800{{/swatch}}
  {{#swatch variable='$orange-700' src='packages/nexus/src/styles/_variables.scss'}}Orange 700{{/swatch}}
  {{#swatch variable='$orange-600' src='packages/nexus/src/styles/_variables.scss'}}Orange 600{{/swatch}}
  {{#swatch variable='$orange-500' src='packages/nexus/src/styles/_variables.scss'}}Orange 500{{/swatch}}
  {{#swatch variable='$orange-400' src='packages/nexus/src/styles/_variables.scss'}}Orange 400{{/swatch}}
  {{#swatch variable='$orange-300' src='packages/nexus/src/styles/_variables.scss'}}Orange 300{{/swatch}}
  {{#swatch variable='$orange-200' src='packages/nexus/src/styles/_variables.scss'}}Orange 200{{/swatch}}
  {{#swatch variable='$orange-100' src='packages/nexus/src/styles/_variables.scss'}}Orange 100{{/swatch}}
{{/swatchList}}

<h3>Secondary Accent</h3>

{{#swatchList}}
  {{#swatch variable='$blue-900' src='packages/nexus/src/styles/_variables.scss'}}Blue 900{{/swatch}}
  {{#swatch variable='$blue-800' src='packages/nexus/src/styles/_variables.scss'}}Blue 800{{/swatch}}
  {{#swatch variable='$blue-700' src='packages/nexus/src/styles/_variables.scss'}}Blue 700{{/swatch}}
  {{#swatch variable='$blue-600' src='packages/nexus/src/styles/_variables.scss'}}Blue 600{{/swatch}}
  {{#swatch variable='$blue-500' src='packages/nexus/src/styles/_variables.scss'}}Blue 500{{/swatch}}
  {{#swatch variable='$blue-400' src='packages/nexus/src/styles/_variables.scss'}}Blue 400{{/swatch}}
  {{#swatch variable='$blue-300' src='packages/nexus/src/styles/_variables.scss'}}Blue 300{{/swatch}}
  {{#swatch variable='$blue-200' src='packages/nexus/src/styles/_variables.scss'}}Blue 200{{/swatch}}
  {{#swatch variable='$blue-100' src='packages/nexus/src/styles/_variables.scss'}}Blue 100{{/swatch}}
{{/swatchList}}

<h2>Secondary Colors</h2>

<h3>Success</h3>

{{#swatchList}}
  {{#swatch variable='$green-900' src='packages/nexus/src/styles/_variables.scss'}}Green 900{{/swatch}}
  {{#swatch variable='$green-800' src='packages/nexus/src/styles/_variables.scss'}}Green 800{{/swatch}}
  {{#swatch variable='$green-700' src='packages/nexus/src/styles/_variables.scss'}}Green 700{{/swatch}}
  {{#swatch variable='$green-600' src='packages/nexus/src/styles/_variables.scss'}}Green 600{{/swatch}}
  {{#swatch variable='$green-500' src='packages/nexus/src/styles/_variables.scss'}}Green 500{{/swatch}}
  {{#swatch variable='$green-400' src='packages/nexus/src/styles/_variables.scss'}}Green 400{{/swatch}}
  {{#swatch variable='$green-300' src='packages/nexus/src/styles/_variables.scss'}}Green 300{{/swatch}}
  {{#swatch variable='$green-200' src='packages/nexus/src/styles/_variables.scss'}}Green 200{{/swatch}}
  {{#swatch variable='$green-100' src='packages/nexus/src/styles/_variables.scss'}}Green 100{{/swatch}}
{{/swatchList}}

<h3>Warning</h3>

{{#swatchList}}
  {{#swatch variable='$yellow-900' src='packages/nexus/src/styles/_variables.scss'}}yellow 900{{/swatch}}
  {{#swatch variable='$yellow-800' src='packages/nexus/src/styles/_variables.scss'}}yellow 800{{/swatch}}
  {{#swatch variable='$yellow-700' src='packages/nexus/src/styles/_variables.scss'}}yellow 700{{/swatch}}
  {{#swatch variable='$yellow-600' src='packages/nexus/src/styles/_variables.scss'}}yellow 600{{/swatch}}
  {{#swatch variable='$yellow-500' src='packages/nexus/src/styles/_variables.scss'}}yellow 500{{/swatch}}
  {{#swatch variable='$yellow-400' src='packages/nexus/src/styles/_variables.scss'}}yellow 400{{/swatch}}
  {{#swatch variable='$yellow-300' src='packages/nexus/src/styles/_variables.scss'}}yellow 300{{/swatch}}
  {{#swatch variable='$yellow-200' src='packages/nexus/src/styles/_variables.scss'}}yellow 200{{/swatch}}
  {{#swatch variable='$yellow-100' src='packages/nexus/src/styles/_variables.scss'}}yellow 100{{/swatch}}
{{/swatchList}}

<h3>Danger</h3>

{{#swatchList}}
  {{#swatch variable='$red-900' src='packages/nexus/src/styles/_variables.scss'}}Red 900{{/swatch}}
  {{#swatch variable='$red-800' src='packages/nexus/src/styles/_variables.scss'}}Red 800{{/swatch}}
  {{#swatch variable='$red-700' src='packages/nexus/src/styles/_variables.scss'}}Red 700{{/swatch}}
  {{#swatch variable='$red-600' src='packages/nexus/src/styles/_variables.scss'}}Red 600{{/swatch}}
  {{#swatch variable='$red-500' src='packages/nexus/src/styles/_variables.scss'}}Red 500{{/swatch}}
  {{#swatch variable='$red-400' src='packages/nexus/src/styles/_variables.scss'}}Red 400{{/swatch}}
  {{#swatch variable='$red-300' src='packages/nexus/src/styles/_variables.scss'}}Red 300{{/swatch}}
  {{#swatch variable='$red-200' src='packages/nexus/src/styles/_variables.scss'}}Red 200{{/swatch}}
  {{#swatch variable='$red-100' src='packages/nexus/src/styles/_variables.scss'}}Red 100{{/swatch}}
{{/swatchList}}

<h2>Extended Palette</h2>

{{#swatchList}}
  {{#swatch variable='$cyan-900' src='packages/nexus/src/styles/_variables.scss'}}Cyan 900{{/swatch}}
  {{#swatch variable='$cyan-800' src='packages/nexus/src/styles/_variables.scss'}}Cyan 800{{/swatch}}
  {{#swatch variable='$cyan-700' src='packages/nexus/src/styles/_variables.scss'}}Cyan 700{{/swatch}}
  {{#swatch variable='$cyan-600' src='packages/nexus/src/styles/_variables.scss'}}Cyan 600{{/swatch}}
  {{#swatch variable='$cyan-500' src='packages/nexus/src/styles/_variables.scss'}}Cyan 500{{/swatch}}
  {{#swatch variable='$cyan-400' src='packages/nexus/src/styles/_variables.scss'}}Cyan 400{{/swatch}}
  {{#swatch variable='$cyan-300' src='packages/nexus/src/styles/_variables.scss'}}Cyan 300{{/swatch}}
  {{#swatch variable='$cyan-200' src='packages/nexus/src/styles/_variables.scss'}}Cyan 200{{/swatch}}
  {{#swatch variable='$cyan-100' src='packages/nexus/src/styles/_variables.scss'}}Cyan 100{{/swatch}}
{{/swatchList}}

{{#swatchList}}
  {{#swatch variable='$pink-900' src='packages/nexus/src/styles/_variables.scss'}}Pink 900{{/swatch}}
  {{#swatch variable='$pink-800' src='packages/nexus/src/styles/_variables.scss'}}Pink 800{{/swatch}}
  {{#swatch variable='$pink-700' src='packages/nexus/src/styles/_variables.scss'}}Pink 700{{/swatch}}
  {{#swatch variable='$pink-600' src='packages/nexus/src/styles/_variables.scss'}}Pink 600{{/swatch}}
  {{#swatch variable='$pink-500' src='packages/nexus/src/styles/_variables.scss'}}Pink 500{{/swatch}}
  {{#swatch variable='$pink-400' src='packages/nexus/src/styles/_variables.scss'}}Pink 400{{/swatch}}
  {{#swatch variable='$pink-300' src='packages/nexus/src/styles/_variables.scss'}}Pink 300{{/swatch}}
  {{#swatch variable='$pink-200' src='packages/nexus/src/styles/_variables.scss'}}Pink 200{{/swatch}}
  {{#swatch variable='$pink-100' src='packages/nexus/src/styles/_variables.scss'}}Pink 100{{/swatch}}
{{/swatchList}}

{{#swatchList}}
  {{#swatch variable='$magenta-900' src='packages/nexus/src/styles/_variables.scss'}}Magenta 900{{/swatch}}
  {{#swatch variable='$magenta-800' src='packages/nexus/src/styles/_variables.scss'}}Magenta 800{{/swatch}}
  {{#swatch variable='$magenta-700' src='packages/nexus/src/styles/_variables.scss'}}Magenta 700{{/swatch}}
  {{#swatch variable='$magenta-600' src='packages/nexus/src/styles/_variables.scss'}}Magenta 600{{/swatch}}
  {{#swatch variable='$magenta-500' src='packages/nexus/src/styles/_variables.scss'}}Magenta 500{{/swatch}}
  {{#swatch variable='$magenta-400' src='packages/nexus/src/styles/_variables.scss'}}Magenta 400{{/swatch}}
  {{#swatch variable='$magenta-300' src='packages/nexus/src/styles/_variables.scss'}}Magenta 300{{/swatch}}
  {{#swatch variable='$magenta-200' src='packages/nexus/src/styles/_variables.scss'}}Magenta 200{{/swatch}}
  {{#swatch variable='$magenta-100' src='packages/nexus/src/styles/_variables.scss'}}Magenta 100{{/swatch}}
{{/swatchList}}

{{/template}}
