{{#template 'default'}}
  {{#pageTitle}}Resources{{/pageTitle}}

  <ul class="playbook-section-list">
    <li class="playbook-section">
      <a class="playbook-section-link playbook-illustration-buttons" href="/resources/accessibility.html">
        <span class="playbook-section-name">Accessibility</span>
      </a>
    </li>
    <li class="playbook-section">
      <a class="playbook-section-link playbook-illustration-buttons" href="/resources/assets.html">
        <span class="playbook-section-name">Assets</span>
      </a>
    </li>
    <li class="playbook-section">
      <a class="playbook-section-link playbook-illustration-buttons" href="/resources/colors.html">
        <span class="playbook-section-name">Colors</span>
      </a>
    </li>
    <li class="playbook-section">
      <a class="playbook-section-link playbook-illustration-buttons" href="/resources/grid.html">
        <span class="playbook-section-name">Grid</span>
      </a>
    </li>
    <li class="playbook-section">
      <a class="playbook-section-link playbook-illustration-buttons" href="/resources/iconography.html">
        <span class="playbook-section-name">Iconography</span>
      </a>
    </li>
    <li class="playbook-section">
      <a class="playbook-section-link playbook-illustration-buttons" href="/resources/styles.html">
        <span class="playbook-section-name">Styles</span>
      </a>
    </li>
    <li class="playbook-section">
      <a class="playbook-section-link playbook-illustration-buttons" href="/resources/theming.html">
        <span class="playbook-section-name">Theming</span>
      </a>
    </li>
    <li class="playbook-section">
      <a class="playbook-section-link playbook-illustration-buttons" href="/resources/typography.html">
        <span class="playbook-section-name">Typography</span>
      </a>
    </li>
  </ul>

{{/template}}
