
{{#sectionTitle}}Search{{/sectionTitle}}

{{component
  src='/angular/index.html?search'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/search/search.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/search/search.component.ts'
    language='js'}}

{{/componentDocumentation}}

