{{#sectionTitle}}Search Examples{{/sectionTitle}}

{{component
  src='/stencil/temp/search-examples.html'
  css="min-height: 400px; "}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/search/search-examples.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/search/search-examples.js'
    language='js'}}

{{/componentDocumentation}}
