
{{#sectionTitle}}Search{{/sectionTitle}}

{{component
  src='/stencil/temp/search.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/search/search.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/search/search.js'
    language='js'}}

{{/componentDocumentation}}

