{{#sectionTitle}}Search Examples{{/sectionTitle}}

{{component
  src='/angular/index.html?searchExamples'
  css="min-height: 400px; "}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/search-examples/search-examples.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/search-examples/search-examples.component.ts'
    language='js'}}

{{/componentDocumentation}}
