{{#sectionTitle}}Stacked Bar Chart{{/sectionTitle}}

{{component
  src='/stencil/temp/stacked-bar-chart.html'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/stacked-bar-chart/stacked-bar-chart.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/stacked-bar-chart/stacked-bar-chart.js'
    language='js'}}

{{/componentDocumentation}}