
{{#sectionTitle}}Tab Bar{{/sectionTitle}}

{{component
  src='/stencil/temp/tab-bar.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/tab-bar/tab-bar.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/tab-bar/tab-bar.js'
    language='js'}}

{{/componentDocumentation}}

