
{{#sectionTitle}}Button{{/sectionTitle}}

{{component
  src='/stencil/temp/button.html'
  css="min-height: 200px; "}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/button/button.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/button/button.js'
    language='js'}}

{{/componentDocumentation}}

