
{{#sectionTitle}}Button Examples{{/sectionTitle}}

{{component
  src='/stencil/temp/button-examples.html'
  css="min-height: 400px; "}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/button/button-examples.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/button/button-examples.js'
    language='js'}}

{{/componentDocumentation}}

