{{#sectionTitle}}Accordion{{/sectionTitle}}

{{component
src='/stencil/temp/accordion.html'
css="min-height: 200px;"}}

{{#componentDocumentation}}

<p>HTML:</p>

{{code
src='./playbook/stencil/examples/accordion/accordion.html'
language='html'}}

<p>JS:</p>

{{code
src='./playbook/stencil/examples/accordion/accordion.js'
language='js'}}

{{/componentDocumentation}}