{{#sectionTitle}}Accordion Examples{{/sectionTitle}}

{{component
src='/angular/index.html?accordionExamples'
css="min-height: 400px;"}}

{{#componentDocumentation}}

<p>HTML:</p>

{{code
src='./playbook/angular/src/app/components/accordion-examples/accordion-examples.component.html'
language='html'}}

<p>TS:</p>

{{code
src='./playbook/angular/src/app/components/accordion-examples/accordion-examples.component.ts'
language='js'}}

{{/componentDocumentation}}