{{#sectionTitle}}Accordion{{/sectionTitle}}

{{component
src='/angular/index.html?accordion'
css="min-height: 200px;"}}

{{#componentDocumentation}}

<p>HTML:</p>

{{code
src='./playbook/angular/src/app/components/accordion/accordion.component.html'
language='html'}}

<p>TS:</p>

{{code
src='./playbook/angular/src/app/components/accordion/accordion.component.ts'
language='js'}}

{{/componentDocumentation}}