{{#sectionTitle}}Avatar Examples{{/sectionTitle}}

{{component
  src='/angular/index.html?avatarExamples'
  css="min-height: 300px; "}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/avatar-examples/avatar-examples.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/avatar-examples/avatar-examples.component.ts'
    language='js'}}

{{/componentDocumentation}}

