
{{#sectionTitle}}Avatar{{/sectionTitle}}

{{component
  src='/stencil/temp/avatar.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/avatar/avatar.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/avatar/avatar.js'
    language='js'}}

{{/componentDocumentation}}

