<div class="nexus-rhythm-4">
  <nexus-notification data-testid="notification-info" [variant]="variant">{{ message }}</nexus-notification>
</div>

<div class="nexus-rhythm-4">
  <nexus-notification data-testid="notification-error" variant="error">Error notification message.</nexus-notification>
</div>

<div class="nexus-rhythm-4">
  <nexus-notification data-testid="notification-success" variant="success"
    >Success notification message.</nexus-notification
  >
</div>

<div class="nexus-rhythm-4">
  <nexus-notification data-testid="notification-warning" variant="warning"
    >Warning notification message.</nexus-notification
  >
</div>
