<div class="nexus-row">
  <div class="nexus-col-xl-11">
    <div class="nexus-center-xs nexus-pt-4">
      <nexus-breadcrumb [separator]="separator">
        <nexus-breadcrumb-item><a href="javascript:void(0)"
            style="text-decoration: none; ">Breadcrumb 1</a></nexus-breadcrumb-item>
        <nexus-breadcrumb-item><a href="javascript:void(0)"
            style="text-decoration: none; ">Breadcrumb 2</a></nexus-breadcrumb-item>
        <nexus-breadcrumb-item><a href="javascript:void(0)"
            style="text-decoration: none; ">Breadcrumb 3</a></nexus-breadcrumb-item>
      </nexus-breadcrumb>
    </div>
  </div>
</div>