<nexus-stepper>
  <nexus-stepper-item status="active">
    <button aria-label="step1">Source data</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="default">
    <button aria-current="step">Data exploration</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="default">
    <button aria-label="step3">Feature sets</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="default">
    <button aria-label="step4">Training</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="default">
    <button aria-label="step5">Test & analysis</button>
  </nexus-stepper-item>
</nexus-stepper>
<nexus-stepper>
  <nexus-stepper-item status="complete">
    <button aria-label="step1">Source data</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="active">
    <button aria-current="step">Data exploration</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="default">
    <button aria-label="step3">Feature sets</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="default">
    <button aria-label="step4">Training</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="default">
    <button aria-label="step5">Test & analysis</button>
  </nexus-stepper-item>
</nexus-stepper>
<nexus-stepper>
  <nexus-stepper-item status="complete">
    <button aria-label="step1">Source data</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="complete">
    <button aria-current="step">Data exploration</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="active">
    <button aria-label="step3">Feature sets</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="default">
    <button aria-label="step4">Training</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="default">
    <button aria-label="step5">Test & analysis</button>
  </nexus-stepper-item>
</nexus-stepper>
<nexus-stepper>
  <nexus-stepper-item status="complete">
    <button aria-label="step1">Source data</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="complete">
    <button aria-current="step">Data exploration</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="error">
    <button aria-label="step3">Feature sets</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="default">
    <button aria-label="step4">Training</button>
  </nexus-stepper-item>
  <nexus-stepper-item status="default">
    <button aria-label="step5">Test & analysis</button>
  </nexus-stepper-item>
</nexus-stepper>
