
{{#sectionTitle}}Radio{{/sectionTitle}}

{{component
  src='/stencil/temp/radio.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/radio/radio.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/radio/radio.js'
    language='js'}}

{{/componentDocumentation}}

