<p class="nexus-h5">Disabled</p>
<nexus-toggle disabled data-testid="toggle-disabled"></nexus-toggle>

<p class="nexus-h5">Add Labels</p>
<nexus-toggle data-testid="toggle-labels" label-inactive="hide" label-active="show" size="sm"></nexus-toggle>

<p class="nexus-h5">Toggle Types:</p>

<p class="nexus-h6">Default</p>
<nexus-toggle data-testid="toggle-default" label-inactive="hide" label-active="show" size="sm"></nexus-toggle>

<p class="nexus-h5">Button</p>
<nexus-toggle data-testid="toggle-button" type="button" label-inactive="hide" label-active="show" size="sm"></nexus-toggle>

<p class="nexus-h5">Toggle switch size variants.</p>
<div class="nexus-row">
    <div class="nexus-col-lg-1">
        <p class="nexus-h6">xs</p>
        <nexus-toggle data-testid="toggle-size-xs" size="xs"></nexus-toggle>
    </div>
    <div class="nexus-col-lg-1">
        <p class="nexus-h6">sm</p>
        <nexus-toggle data-testid="toggle-size-sm" size="sm"></nexus-toggle>
    </div>
    <div class="nexus-col-lg-2">
        <p class="nexus-h6">md</p>
        <nexus-toggle data-testid="toggle-size-md" size="md"></nexus-toggle>
    </div>
    <div class="nexus-col-lg-2">
        <p class="nexus-h6">lg</p>
        <nexus-toggle data-testid="toggle-size-lg" size="lg"></nexus-toggle>
    </div>
    <div class="nexus-col-lg-2">
        <p class="nexus-h6">xl</p>
        <nexus-toggle data-testid="toggle-size-xl" size="xl"></nexus-toggle>
    </div>
</div>

<p class="nexus-h5">Toggle Button size variants.</p>
<div class="nexus-row">
    <div class="nexus-col-lg-2">
        <p class="nexus-h6">xs</p>
        <nexus-toggle type="button" label-inactive="hide" label-active="show" size="xs"></nexus-toggle>
    </div>
    <div class="nexus-col-lg-2">
        <p class="nexus-h6">sm</p>
        <nexus-toggle type="button" label-inactive="hide" label-active="show" size="sm"></nexus-toggle>
    </div>
    <div class="nexus-col-lg-2">
        <p class="nexus-h6">md</p>
        <nexus-toggle type="button" label-inactive="hide" label-active="show" size="md"></nexus-toggle>
    </div>
    <div class="nexus-col-lg-2">
        <p class="nexus-h6">lg</p>
        <nexus-toggle type="button" label-inactive="hide" label-active="show" size="lg"></nexus-toggle>
    </div>
    <div class="nexus-col-lg-2">
        <p class="nexus-h6">xl</p>
        <nexus-toggle type="button" label-inactive="hide" label-active="show" size="xl"></nexus-toggle>
    </div>
</div>
