{{#template 'default'}}

  {{#pageTitle}}Documentation{{/pageTitle}}

  <ul class="playbook-section-list">
    <li class="playbook-section">
      <a class="playbook-section-link playbook-illustration-buttons" href="/documentation/getting-started-angular.html">
        <span class="playbook-section-name">Getting Started - Angular</span>
      </a>
    </li>

    <li class="playbook-section">
      <a class="playbook-section-link playbook-illustration-buttons" href="/documentation/getting-started-javascript.html">
        <span class="playbook-section-name">Getting Started - Javascript</span>
      </a>
    </li>

    <li class="playbook-section">
      <a class="playbook-section-link playbook-illustration-buttons" href="/documentation/getting-started-react.html">
        <span class="playbook-section-name">Getting Started - React</span>
      </a>
    </li>

    <li class="playbook-section">
      <a class="playbook-section-link playbook-illustration-buttons" href="/documentation/changelog.html">
        <span class="playbook-section-name">Change Log</span>
      </a>
    </li>
  </ul>
{{/template}}
