{{#template 'default'}}

    {{#pageTitle}}Code Coverage Report{{/pageTitle}}

    <div class="playbook-coverage">
        <iframe class="playbook-iframe" src="/lcov-report/index.html" style="height: 100vh; width: 100vw;"></iframe>
    </div>

{{/template}}
