{{#template 'default'}}

    {{#pageTitle}}Reports{{/pageTitle}}

    <ul class="playbook-section-list">
        <li class="playbook-section">
            <a class="playbook-section-link playbook-illustration-buttons" href="/reports/accessibility.html">
                <span class="playbook-section-name">Accessibilty</span>
            </a>
        </li>

        <li class="playbook-section">
            <a class="playbook-section-link playbook-illustration-buttons" href="/reports/code-coverage.html">
                <span class="playbook-section-name">Code Coverage</span>
            </a>
        </li>
    </ul>

{{/template}}
