$nexus-font-path: '~@nexus/core/dist/assets/fonts';

@import '~@nexus/core/dist/styles';

.text-right {
  text-align: right;
}

.cls-col-width {
  width: 20%;
  text-align: center;
  font-style: italic;
  color: #9C27B0;
  font-weight: bold;
}
