
{{#sectionTitle}}Menu{{/sectionTitle}}

{{component
  src='/angular/index.html?menu'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/menu/menu.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/menu/menu.component.ts'
    language='js'}}

{{/componentDocumentation}}

