
{{#sectionTitle}}Menu{{/sectionTitle}}

{{component
  src='/stencil/temp/menu.html'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/menu/menu.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/menu/menu.js'
    language='js'}}

{{/componentDocumentation}}

