
{{#sectionTitle}}Notification{{/sectionTitle}}

{{component
  src='/angular/index.html?notification'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/notification/notification.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/notification/notification.component.ts'
    language='js'}}

{{/componentDocumentation}}

