
{{#sectionTitle}}Notification{{/sectionTitle}}

{{component
  src='/stencil/temp/notification.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/notification/notification.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/notification/notification.js'
    language='js'}}

{{/componentDocumentation}}

