
{{#sectionTitle}}Slider{{/sectionTitle}}

{{component
  src='/stencil/temp/slider.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/slider/slider.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/slider/slider.js'
    language='js'}}

{{/componentDocumentation}}

