
{{#sectionTitle}}Slider Example{{/sectionTitle}}

{{component
  src='/angular/index.html?sliderExamples'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/slider-examples/slider-examples.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/slider-examples/slider-examples.component.ts'
    language='js'}}

{{/componentDocumentation}}

