
{{#sectionTitle}}Error Message{{/sectionTitle}}

{{component
    src='/stencil/temp/error-message.html'
    css="min-height: 200px;"}}

{{#componentDocumentation}}

    <p>HTML:</p>

    {{code
        src='./playbook/stencil/examples/error-message/error-message.html'
        language='html'}}

    <p>JS:</p>

    {{code
        src='./playbook/stencil/examples/error-message/error-message.js'
        language='js'}}

{{/componentDocumentation}}
