{{#sectionTitle}}Error Message{{/sectionTitle}}

{{component
    src='/angular/index.html?errorMessage'
    css="min-height: 200px;"}}

{{#componentDocumentation}}

    <p>HTML:</p>

    {{code
        src='./playbook/angular/src/app/components/error-message/error-message.component.html'
        language='html'}}

    <p>TS:</p>

    {{code
        src='./playbook/angular/src/app/components/error-message/error-message.component.ts'
        language='js'}}

{{/componentDocumentation}}
