
{{#sectionTitle}}File Upload{{/sectionTitle}}

{{component
  src='/stencil/temp/file-upload.html'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/file-upload/file-upload.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/file-upload/file-upload.js'
    language='js'}}

{{/componentDocumentation}}

