
{{#sectionTitle}}File Upload{{/sectionTitle}}

{{component
  src='/angular/index.html?fileUpload'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/file-upload/file-upload.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/file-upload/file-upload.component.ts'
    language='js'}}

{{/componentDocumentation}}

