<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. A quas nam doloremque sint Lorem ipsum dolor sit
  amet<nexus-dropdown
    [dropdown-type]="dropdownType"
    [placement]="placement"
    [height]="height"
    [width]="width"
    [show]="show"
  >
    <nexus-icon slot="trigerer" id="iconId" src="./assets/icons/navigation/ic_more_vert_24px.svg"></nexus-icon>
    <nexus-option label="Option 1" value="Option1">Option 1</nexus-option>
    <nexus-option label="Option 2" value="Option2">Option 2</nexus-option>
    <nexus-option label="Option 3" value="Option3">Option 3</nexus-option>
  </nexus-dropdown>
</p>
