<div class="nexus-container">
  <nexus-form-field class="nexus-flex-row">
    <button class="nexus-btn-primary nexus-col-xs-2">
      <nexus-select type="basic" value="">
        <option value="" disabled selected>
          {{ primaryOptions }}
        </option>
        <option value="option1">{{ add }}</option>
        <option value="option2" disabled selected>{{ delete }}</option>
        <option value="option3">{{ block }}</option>
      </nexus-select>
    </button>
    <button class="nexus-btn-warn nexus-col-xs-2">
      <nexus-select type="basic" value="">
        <option value="" disabled selected>{{ secondaryOptions }}</option>
        <option value="option1">{{ save }}</option>
        <option value="option2">{{ load }}</option>
        <option value="option3" disabled selected>{{ edit }}</option>
      </nexus-select>
    </button>
  </nexus-form-field>
</div>
