<p>
  {{ text }}
  <nexus-dropdown dropdown-type="basic" placement="right" height="150" width="180">
    <nexus-icon slot="trigerelement" [src]="src"></nexus-icon>
    <nexus-option label="Option 1" value="Option1">{{ option1 }}</nexus-option>
    <nexus-option label="Option 2" value="Option2">{{ option2 }}</nexus-option>
    <nexus-option label="Option 3" value="Option3">{{ option3 }}</nexus-option>
  </nexus-dropdown>
</p>

<p>
  {{ text }}
  <nexus-dropdown dropdown-type="basic" placement="left" height="150" width="180">
    <nexus-icon slot="trigerelement" [src]="src"></nexus-icon>
    <nexus-option label="Option 1" value="Option1">{{ option1 }}</nexus-option>
    <nexus-option label="Option 2" value="Option2">{{ option2 }}</nexus-option>
    <nexus-option label="Option 3" value="Option3">{{ option3 }}</nexus-option>
  </nexus-dropdown>
</p>

<p>
  {{ text }}
  <nexus-dropdown dropdown-type="basic" placement="center" height="150" width="180">
    <nexus-icon slot="trigerelement" [src]="src"></nexus-icon>
    <nexus-option label="Option 1" value="Option1">{{ option1 }}</nexus-option>
    <nexus-option label="Option 2" value="Option2">{{ option2 }}</nexus-option>
    <nexus-option label="Option 3" value="Option3">{{ option3 }}</nexus-option>
  </nexus-dropdown>
</p>
