<p class="nexus-h5">Custom Content</p>

<p class="nexus-h6">Tooltip</p>
<p>
  Lorem ipsum dolor sit amet, <nexus-tooltip>
    <nexus-tooltip-trigger>
      consectetur
    </nexus-tooltip-trigger>

    <nexus-tooltip-content>Default Tooltip Content </nexus-tooltip-content>
  </nexus-tooltip> adipiscing elit. Donec massa dui, bibendum et bibendum ut, facilisis nec lorem.
</p>

<p class="nexus-h6">Tooltip Placement</p>
<p>
  Lorem ipsum dolor sit amet, <nexus-tooltip placement="bottom">
    <nexus-tooltip-trigger>
      consectetur
    </nexus-tooltip-trigger>

    <nexus-tooltip-content>Tooltip Content on bottom</nexus-tooltip-content>
  </nexus-tooltip> adipiscing elit. Donec massa dui, bibendum et bibendum ut, facilisis nec lorem.
</p>
<p>
  Lorem ipsum dolor sit amet, <nexus-tooltip placement="top">
    <nexus-tooltip-trigger>
      consectetur
    </nexus-tooltip-trigger>

    <nexus-tooltip-content>Tooltip Content on top</nexus-tooltip-content>
  </nexus-tooltip> adipiscing elit. Donec massa dui, bibendum et bibendum ut, facilisis nec lorem.
</p>
<p>
  Lorem ipsum dolor sit amet, <nexus-tooltip placement="right">
  <nexus-tooltip-trigger>
    consectetur
  </nexus-tooltip-trigger>

  <nexus-tooltip-content>Tooltip Content on right</nexus-tooltip-content>
</nexus-tooltip> adipiscing elit. Donec massa dui, bibendum et bibendum ut, facilisis nec lorem.
</p>
<p>
  Lorem ipsum dolor sit amet, <nexus-tooltip placement="left">
    <nexus-tooltip-trigger>
      consectetur
    </nexus-tooltip-trigger>
  
    <nexus-tooltip-content>Tooltip Content on left</nexus-tooltip-content>
  </nexus-tooltip> adipiscing elit. Donec massa dui, bibendum et bibendum ut, facilisis nec lorem.
</p>
<p>
  Lorem ipsum dolor sit amet, <nexus-tooltip placement="left">
  <nexus-tooltip-trigger>
    consectetur Tooltip Content on left, auto calculates in case of overflow.<br/>Tooltip Content on left, auto calculates in case of overflow.<br />
  </nexus-tooltip-trigger>

  <nexus-tooltip-content>Tooltip Content on left, auto calculates in case of overflow.</nexus-tooltip-content>
</nexus-tooltip> adipiscing elit. Donec massa dui, bibendum et bibendum ut, facilisis nec lorem.
</p>

<p class="nexus-h6">Tooltip click disabled</p> 
<p>
  This is a , <nexus-tooltip allow-click="false" placement="top">
    <nexus-tooltip-trigger>
      tooltip
    </nexus-tooltip-trigger>

    <nexus-tooltip-content>Tooltip Content</nexus-tooltip-content>
  </nexus-tooltip> that has click disabled.
</p>