<div class="nexus-mt-2">
  <div class="nexus-row nexus-center-xs">
    <div class="nexus-col-xs-4 nexus-col-md-4 nexus-col-lg-2">
      <button data-testid="btnVariantDefault" class="nexus-btn nexus-mt-2">{{ buttonState.default }}</button>
    </div>
    <div class="nexus-col-xs-4 nexus-col-md-4 nexus-col-lg-2">
      <button data-testid="btnVariantPrimary" class="nexus-btn-primary nexus-mt-2">{{ buttonState.primary }}</button>
    </div>
    <div class="nexus-col-xs-4 nexus-col-md-4 nexus-col-lg-2">
      <button data-testid="btnVariantWarn" class="nexus-btn-warn nexus-mt-2">{{ buttonState.warn }}</button>
    </div>
    <div class="nexus-col-xs-4 nexus-col-md-4 nexus-col-lg-2 nexus-mt-3">
      <a href="./?path=/docs/component-buttons-and-indicators-button--c-state"
        data-testid="theme-dark-nexus-link"
        class="nexus-link nexus-ml-2 nexus-mr-2">
        <button class="nexus-link">{{ buttonState.link }}</button>
      </a>
    </div>
  </div>
</div>
