<div class="nexus-mt-5">
    <div class="nexus-row nexus-center-xs">
        <div class="nexus-col-xs-4 nexus-col-md-4">
            <div class="nexus-row nexus-center-xs">
                <div class="nexus-col-xs-2  nexus-col-md-4">
                    <button data-testid="nexus-button-with-icon" class="nexus-btn-icon">
                        <nexus-icon src="./assets/icons/action/ic_settings_24px.svg"></nexus-icon>
                        <span class="nexus-visually-hidden">Settings</span>
                    </button>
                </div>
                <div class="nexus-col-xs-2">
                    <h5 class="nexus-h5">{{floatingButtons.icon}}</h5>
                </div>
            </div>

        </div>
        <div class="nexus-col-xs-4 nexus-col-md-4">
            <div class="nexus-row nexus-center-xs">
                <div class="nexus-col-xs-2 nexus-col-md-4">
                    <button data-testid="nexus-btn-floating" class="nexus-fab">
                        <nexus-icon src="./assets/icons/action/ic_settings_24px.svg"></nexus-icon>
                        <span class="nexus-visually-hidden">Settings</span>
                    </button>
                </div>
                <div class="nexus-col-xs-2 nexus-col-md-4">
                    <h5 class="nexus-h5">{{floatingButtons.floatingIconButton}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>