
{{#sectionTitle}}Dropdown{{/sectionTitle}}

{{component
  src='/angular/index.html?dropdown'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>
  {{code
    src='./playbook/angular/src/app/components/dropdown/dropdown.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/dropdown/dropdown.component.ts'
    language='js'}}

{{/componentDocumentation}}

