
{{#sectionTitle}}Dropdown{{/sectionTitle}}

{{component
  src='/stencil/temp/dropdown.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/dropdown/dropdown.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/dropdown/dropdown.js'
    language='js'}}

{{/componentDocumentation}}

