<nexus-bar-chart [ordinalMetric]="ordinalMetric" responsive="true" [tooltips]="tooltips"
  [axisLabelFontSize]="axisLabelFontSize" [axisTickFontFamily]="axisTickFontFamily"
  [axisTickFontSize]="axisTickFontSize" [barStroke]="barStroke" [barStrokeWidth]="barStrokeWidth" [chartId]="chartId"
  [colorScheme]="colorScheme" [gridlines]="gridlines" [hideXAxis]="hideXAxis" [hideXTicks]="hideXTicks"
  [hideYAxis]="hideYAxis" [hideYTicks]="hideYTicks" [inverse]="inverse" [legend]="legend"
  [legendFontSize]="legendFontSize" [legendMetric]="legendMetric" [legendWidth]="legendWidth"
  [linearMetric]="linearMetric" [linearTickFormat]="linearTickFormat" [marginBottom]="marginBottom"
  [marginLeft]="marginLeft" [marginRight]="marginRight" [marginTop]="marginTop" [maxBarWidth]="maxBarWidth"
  [orientation]="orientation" [xLabel]="xLabel" [xTickSize]="xTickSize" [yLabel]="yLabel" [yTickSize]="yTickSize"
  [canvasHeight]="canvasHeight" [canvasWidth]="canvasWidth"></nexus-bar-chart>