<nexus-header class="nexus-header-sticky">
  <nexus-header-logo>
    <a href="javascript:void(0)">
      <nexus-icon data-testid="nexus-header-logo" src="./assets/images/nexus-logo.svg"></nexus-icon>
      <span class="nexus-visually-hidden">Home</span>
    </a>
  </nexus-header-logo>

  <nexus-header-menu data-testid="nexus-hamburger-icon">
    <nexus-menu-item data-testid="menu-item1">
      <a href="javascript:void(0)">Item 1</a>
    </nexus-menu-item>

    <nexus-menu-item data-testid="menu-item2">
      <a href="javascript:void(0)">Item 2</a>
    </nexus-menu-item>

    <nexus-menu-item data-testid="menu-item3">
      <a href="javascript:void(0)">Item 3</a>
    </nexus-menu-item>
  </nexus-header-menu>
</nexus-header>