
{{#sectionTitle}}Card Examples{{/sectionTitle}}

{{component
  src='/angular/index.html?cardExamples'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/card-examples/card-examples.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/card-examples/card-examples.component.ts'
    language='js'}}

{{/componentDocumentation}}

