{{#sectionTitle}}Card{{/sectionTitle}}

{{component
  src='/stencil/temp/card.html'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

<p>HTML:</p>

{{code
    src='./playbook/stencil/examples/card/card.html'
    language='html'}}

<p>JS:</p>

{{code
    src='./playbook/stencil/examples/card/card.js'
    language='js'}}

{{/componentDocumentation}}
