{{#sectionTitle}}Card{{/sectionTitle}}

{{component
  src='/angular/index.html?card'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

<p>HTML:</p>

{{code
    src='./playbook/angular/src/app/components/card/card.component.html'
    language='html'}}

<p>TS:</p>

{{code
    src='./playbook/angular/src/app/components/card/card.component.ts'
    language='js'}}

{{/componentDocumentation}}
