
{{#sectionTitle}}Checkbox Examples{{/sectionTitle}}

{{component
  src='/stencil/temp/checkbox-examples.html'
  css="min-height: 300px; "}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/checkbox/checkbox-examples.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/checkbox/checkbox-examples.js'
    language='js'}}

{{/componentDocumentation}}

