
{{#sectionTitle}}Checkbox{{/sectionTitle}}

{{component
  src='/stencil/temp/checkbox.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/checkbox/checkbox.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/checkbox/checkbox.js'
    language='js'}}

{{/componentDocumentation}}

