@import '../../styles/variables';
@import '../../styles/mixins';

.nexus-carousel {
  position: relative;
  display: block;
  padding-top: $padding;
  padding-bottom: $padding;
  overflow: hidden;
}

.nexus-carousel-inner {
  width: 100%;
  display: flex;
  transition: transform var(--ease-in-out);
}

.nexus-carousel-item {
  display: block;
}

.nexus-carousel-buttons {
  .nexus-btn-primary {
    width: 40px;
    height: 40px;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.5);

    svg {
      width: 40px;
      height: 40px;
    }
  }

  .nexus-carousel-button-disabled {
    opacity: 50%;
  }
}

.nexus-carousel-show-btns-hover {
  .nexus-carousel-buttons {
    opacity: 0;
    transition: opacity var(--ease-in-out);
  }
}

.nexus-carousel.nexus-carousel-show-btns-hover {
  &:hover,
  &:focus {
    .nexus-carousel-buttons {
      opacity: 1;
    }
  }
}

.nexus-carousel-button-next {
  right: $padding * 2;
}

.nexus-carousel-button-prev {
  left: $padding * 2;
}

@include mq(medium) {
  .nexus-carousel-button-next {
    right: $padding * 6;
  }

  .nexus-carousel-button-prev {
    left: $padding * 6;
  }
}
