
{{#sectionTitle}}Table{{/sectionTitle}}

{{component
  src='/stencil/temp/table.html'
  css="min-height: 500px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/table/table.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/table/table.js'
    language='js'}}

{{/componentDocumentation}}

