<div class="nexus-row nexus-around-xs">
    <div class="nexus-col-xs-1">
        <div class="nexus-row nexus-mt-2">
            <div class="nexus-col-xs-4">
                <nexus-notification data-testid="notification-info" variant="info">{{
                    notificationVariants.infoMessage}}</nexus-notification>
            </div>
            <div class="nexus-col-xs-4">
                <nexus-notification data-testid="notification-info" variant="success">{{
                    notificationVariants.successMessage}}</nexus-notification>
            </div>
            <div class="nexus-col-xs-4">
                <nexus-notification data-testid="notification-info" variant="warning">{{
                    notificationVariants.warnMessage}}</nexus-notification>
            </div>
            <div class="nexus-col-xs-4">
                <nexus-notification data-testid="notification-info" variant="error">{{
                    notificationVariants.errorMessage}}</nexus-notification>
            </div>
        </div>
    </div>
</div>