<p class="nexus-h5">Custom Content</p>

<p class="nexus-h6">Breadcrumb Separators</p>
<p>Default</p>
<nexus-breadcrumb>
  <nexus-breadcrumb-item><a href="javascript:void(0)">Breadcrumb 1</a></nexus-breadcrumb-item>
  <nexus-breadcrumb-item><a href="javascript:void(0)">Breadcrumb 2</a></nexus-breadcrumb-item>
  <nexus-breadcrumb-item><a href="javascript:void(0)">Breadcrumb 3</a></nexus-breadcrumb-item>
</nexus-breadcrumb>

<p>Backward Slash: \</p>
<nexus-breadcrumb separator="\">
  <nexus-breadcrumb-item><a href="javascript:void(0)">Breadcrumb 1</a></nexus-breadcrumb-item>
  <nexus-breadcrumb-item><a href="javascript:void(0)">Breadcrumb 2</a></nexus-breadcrumb-item>
  <nexus-breadcrumb-item><a href="javascript:void(0)">Breadcrumb 3</a></nexus-breadcrumb-item>
</nexus-breadcrumb>

<p>Greaterthan: &gt;</p>
<nexus-breadcrumb separator=">">
  <nexus-breadcrumb-item><a href="javascript:void(0)">Breadcrumb 1</a></nexus-breadcrumb-item>
  <nexus-breadcrumb-item><a href="javascript:void(0)">Breadcrumb 2</a></nexus-breadcrumb-item>
  <nexus-breadcrumb-item><a href="javascript:void(0)">Breadcrumb 3</a></nexus-breadcrumb-item>
</nexus-breadcrumb>

<p class="nexus-h6">Breadcrumb with Icons</p>
<nexus-breadcrumb>
  <nexus-breadcrumb-item>
    <nexus-icon src="./assets/icons/action/ic_3d_rotation_24px.svg" size="sm"></nexus-icon>
    Breadcrumb 1
  </nexus-breadcrumb-item>
  <nexus-breadcrumb-item>
    <nexus-icon src="./assets/icons/action/ic_settings_24px.svg" size="sm"></nexus-icon>
    Breadcrumb 2
  </nexus-breadcrumb-item>
  <nexus-breadcrumb-item>
    <nexus-icon src="./assets/icons/action/ic_account_balance_24px.svg" size="sm"></nexus-icon>
    Breadcrumb 3
  </nexus-breadcrumb-item>
</nexus-breadcrumb>

<p class="nexus-h6">BreadcrumbItem disabled</p>
<nexus-breadcrumb>
  <nexus-breadcrumb-item disabled><a href="javascript:void(0)" target="_blank">Breadcrumb 1</a></nexus-breadcrumb-item>
  <nexus-breadcrumb-item><a href="javascript:void(0)">Breadcrumb 2</a></nexus-breadcrumb-item>
  <nexus-breadcrumb-item><a href="javascript:void(0)">Breadcrumb 3</a></nexus-breadcrumb-item>
</nexus-breadcrumb>
