{{#sectionTitle}}Select Example{{/sectionTitle}}

{{component
src='/stencil/temp/select-example.html'
css="min-height: 500px;"}}

{{#componentDocumentation}}

<p>HTML:</p>

{{code
src='./playbook/stencil/examples/select/select-example.html'
language='html'}}

<p>JS:</p>

{{code
src='./playbook/stencil/examples/select/select-example.js'
language='js'}}

{{/componentDocumentation}}