
{{#sectionTitle}}Select{{/sectionTitle}}

{{component
  src='/angular/index.html?select'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/select/select.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/select/select.component.ts'
    language='js'}}

{{/componentDocumentation}}

