{{#sectionTitle}}Select Example{{/sectionTitle}}

{{component
src='/angular/index.html?selectExample'
css="min-height: 500px;"}}

{{#componentDocumentation}}

<p>HTML:</p>

{{code
src='./playbook/angular/src/app/components/select-example/select-example.component.html'
language='html'}}

<p>TS:</p>

{{code
src='./playbook/angular/src/app/components/select-example/select-example.component.ts'
language='js'}}

{{/componentDocumentation}}