
{{#sectionTitle}}Select{{/sectionTitle}}

{{component
  src='/stencil/temp/select.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/select/select.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/select/select.js'
    language='js'}}

{{/componentDocumentation}}

