
{{#sectionTitle}}Pin Entry Examples{{/sectionTitle}}

{{component
  src='/angular/index.html?pinEntryExamples'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/pin-entry-examples/pin-entry-examples.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/pin-entry-examples/pin-entry-examples.component.ts'
    language='js'}}

{{/componentDocumentation}}

