
{{#sectionTitle}}Pin Entry{{/sectionTitle}}

{{component
  src='/stencil/temp/pin-entry.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/pin-entry/pin-entry.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/pin-entry/pin-entry.js'
    language='js'}}

{{/componentDocumentation}}

