
{{#sectionTitle}}Pin Entry{{/sectionTitle}}

{{component
  src='/angular/index.html?pinEntry'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/pin-entry/pin-entry.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/pin-entry/pin-entry.component.ts'
    language='js'}}

{{/componentDocumentation}}

