
{{#sectionTitle}}Progress Bar Examples{{/sectionTitle}}

{{component
  src='/angular/index.html?progressBarExamples'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/progress-bar-examples/progress-bar-examples.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/progress-bar-examples/progress-bar-examples.component.ts'
    language='js'}}

{{/componentDocumentation}}

