
{{#sectionTitle}}Progress Bar{{/sectionTitle}}

{{component
  src='/stencil/temp/progress-bar.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/progress-bar/progress-bar.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/progress-bar/progress-bar.js'
    language='js'}}

{{/componentDocumentation}}

