
{{#sectionTitle}}Progress Bar{{/sectionTitle}}

{{component
  src='/angular/index.html?progressBar'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/progress-bar/progress-bar.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/progress-bar/progress-bar.component.ts'
    language='js'}}

{{/componentDocumentation}}

