<p class="nexus-h5">Icon size variants.</p>
<div class="nexus-row">
    <div class="nexus-col-md-1">
        <p data-testid="lblIconSizeXS" class="nexus-h6">xs</p>
        <nexus-icon src="./assets/icons/action/ic_3d_rotation_24px.svg" size="xs"></nexus-icon>
    </div>
    <div class="nexus-col-md-1">
        <p data-testid="lblIconSizeSM" class="nexus-h6">sm</p>
        <nexus-icon data-testid="icnIconSizeSM" src="./assets/icons/action/ic_3d_rotation_24px.svg" size="sm"></nexus-icon>
    </div>
    <div class="nexus-col-md-1">
        <p data-testid="lblIconSizeMD" class="nexus-h6">md</p>
        <nexus-icon src="./assets/icons/action/ic_3d_rotation_24px.svg" size="md"></nexus-icon>
    </div>
    <div class="nexus-col-md-1">
        <p data-testid="lblIconSizeLG" class="nexus-h6">lg</p>
        <nexus-icon data-testid="icnIconSizeLG" src="./assets/icons/action/ic_3d_rotation_24px.svg" size="lg"></nexus-icon>
    </div>
    <div class="nexus-col-md-1">
        <p data-testid="lblIconSizeXL" class="nexus-h6">xl</p>
        <nexus-icon data-testid="icnIconSizeXL" src="./assets/icons/action/ic_3d_rotation_24px.svg" size="xl"></nexus-icon>
    </div>
</div>
<p class="nexus-h5">Icon variant - with <strong>type</strong> property.</p>
<div class="nexus-row">
    <div class="nexus-col-md-1">
        <p data-testid="lblIconTypeXS" class="nexus-h6">xs</p>
        <nexus-icon src="./assets/icons/content/ic_sort_24px.svg" size="xs" type="img"></nexus-icon>
    </div>
    <div class="nexus-col-md-1">
        <p data-testid="lblIconTypeSM" class="nexus-h6">sm</p>
        <nexus-icon src="./assets/icons/content/ic_sort_24px.svg" size="sm" type="img"></nexus-icon>
    </div>
    <div class="nexus-col-md-1">
        <p data-testid="lblIconTypeMD" class="nexus-h6">md</p>
        <nexus-icon src="./assets/icons/content/ic_sort_24px.svg" size="md" type="img"></nexus-icon>
    </div>
    <div class="nexus-col-md-1">
        <p data-testid="lblIconTypeLG" class="nexus-h6">lg</p>
        <nexus-icon src="./assets/icons/content/ic_sort_24px.svg" size="lg" type="img"></nexus-icon>
    </div>
    <div class="nexus-col-md-1">
        <p data-testid="lblIconTypeXL" class="nexus-h6">xl</p>
        <nexus-icon src="./assets/icons/content/ic_sort_24px.svg" size="xl" type="img"></nexus-icon>
    </div>
</div>