
{{#sectionTitle}}Header{{/sectionTitle}}

{{component
  src='/angular/index.html?header'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/header/header.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/header/header.component.ts'
    language='js'}}

{{/componentDocumentation}}

