
{{#sectionTitle}}Header{{/sectionTitle}}

{{component
  src='/stencil/temp/header.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/header/header.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/header/header.js'
    language='js'}}

{{/componentDocumentation}}

