
{{#template 'component'}}

  {{#pageTitle}}Header{{/pageTitle}}

  <div class="playbook-component-tabs-container">
    <input id="tab-1" type="radio" name="tabs" checked="checked"/>
    <input id="tab-2" type="radio" name="tabs"/>
    <input id="tab-3" type="radio" name="tabs"/>
    <div class="tabs">
      <label for="tab-1">HTML</label>
      <label for="tab-2">Angular</label>
      <label for="tab-3">React</label>
    </div>
    <div class="content">
      <div class="tab">
        {{ section 'components/navigation/header/header.stencil.hbs' }}
      </div>
      <div class="tab">
        {{ section 'components/navigation/header/header.angular.hbs' }}
      </div>
      <div class="tab">
        {{ section 'components/navigation/header/header.react.hbs' }}
      </div>
    </div>
  </div>

  <h2>Css helpers</h2>

  {{#table styles="table-component" headings="Class, Description"}}
      {{#tableRow}}
          {{#tableCell styles='monospace-emphasis'}}.nexus-header-sticky{{/tableCell}}
          {{#tableCell styles='monospace'}}Makes the header fixed to the top left by adding, position: sticky;{{/tableCell}}
      {{/tableRow}}

      {{#tableRow}}
          {{#tableCell styles='monospace-emphasis'}}.nexus-header-fixed{{/tableCell}}
          {{#tableCell styles='monospace'}}Deprecated - Makes the header fixed to the top left by adding, position: fixed;{{/tableCell}}
      {{/tableRow}}

  {{/table}}

{{/template}}

