
{{#sectionTitle}}Loader{{/sectionTitle}}

{{component
  src='/stencil/temp/loader.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/loader/loader.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/loader/loader.js'
    language='js'}}

{{/componentDocumentation}}

