
{{#sectionTitle}}Pagination{{/sectionTitle}}

{{component
  src='/stencil/temp/pagination.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/pagination/pagination.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/pagination/pagination.js'
    language='js'}}

{{/componentDocumentation}}

