{{#sectionTitle}}Line Chart{{/sectionTitle}}

{{component
  src='/stencil/temp/line-chart.html'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/line-chart/line-chart.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/line-chart/line-chart.js'
    language='js'}}

{{/componentDocumentation}}