{{#sectionTitle}}Pie Chart{{/sectionTitle}}

{{component
  src='/angular/index.html?pieChart'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>
  {{code
    src='./playbook/angular/src/app/components/pie-chart/pie-chart.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/pie-chart/pie-chart.component.ts'
    language='js'}}

{{/componentDocumentation}}