{{#sectionTitle}}Pie Chart{{/sectionTitle}}

{{component
  src='/stencil/temp/pie-chart.html'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/pie-chart/pie-chart.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/pie-chart/pie-chart.js'
    language='js'}}

{{/componentDocumentation}}