
{{#sectionTitle}}Tooltip{{/sectionTitle}}

{{component
  src='/stencil/temp/tooltip.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/tooltip/tooltip.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/tooltip/tooltip.js'
    language='js'}}

{{/componentDocumentation}}

