
{{#sectionTitle}}Tooltip Examples{{/sectionTitle}}

{{component
  src='/angular/index.html?tooltipExamples'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/tooltip-examples/tooltip-examples.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/tooltip-examples/tooltip-examples.component.ts'
    language='js'}}

{{/componentDocumentation}}

