
{{#sectionTitle}}Tooltip Examples{{/sectionTitle}}

{{component
  src='/stencil/temp/tooltip-examples.html'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/tooltip/tooltip-examples.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/tooltip/tooltip-examples.js'
    language='js'}}

{{/componentDocumentation}}

