
{{#sectionTitle}}Tooltip{{/sectionTitle}}

{{component
  src='/angular/index.html?tooltip'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/tooltip/tooltip.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/tooltip/tooltip.component.ts'
    language='js'}}

{{/componentDocumentation}}

