
{{#sectionTitle}}Carousel{{/sectionTitle}}

{{component
  src='/stencil/temp/carousel.html'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/carousel/carousel.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/carousel/carousel.js'
    language='js'}}

{{/componentDocumentation}}

