
{{#sectionTitle}}Carousel{{/sectionTitle}}

{{component
  src='/angular/index.html?carousel'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/carousel/carousel.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/carousel/carousel.component.ts'
    language='js'}}

{{/componentDocumentation}}

