registry=https://registry.npmjs.org/
@nexus:registry=https://fso-to.pkgs.visualstudio.com/7bc545d8-bf8c-477e-bb91-17a982c30c2e/_packaging/Nexus/npm/registry/
@ey-studio-phl:registry=https://npm.ey-intuitive.com

save-exact=true
always-auth=true
engine-strict=true

; begin auth token
//fso-to.pkgs.visualstudio.com/7bc545d8-bf8c-477e-bb91-17a982c30c2e/_packaging/Nexus/npm/registry/:username=fso-to
//fso-to.pkgs.visualstudio.com/7bc545d8-bf8c-477e-bb91-17a982c30c2e/_packaging/Nexus/npm/registry/:_password=[N2Nka2J1eG9td21vNGNueDI1bDRqdmJ2Nm1xdXhqam83ZDVmb3ZvM25paHljcWFyNml5cQ==]
//fso-to.pkgs.visualstudio.com/7bc545d8-bf8c-477e-bb91-17a982c30c2e/_packaging/Nexus/npm/registry/:email=npm requires email to be set but doesn't use the value
//fso-to.pkgs.visualstudio.com/7bc545d8-bf8c-477e-bb91-17a982c30c2e/_packaging/Nexus/npm/:username=fso-to
//fso-to.pkgs.visualstudio.com/7bc545d8-bf8c-477e-bb91-17a982c30c2e/_packaging/Nexus/npm/:_password=[N2Nka2J1eG9td21vNGNueDI1bDRqdmJ2Nm1xdXhqam83ZDVmb3ZvM25paHljcWFyNml5cQ==]
//fso-to.pkgs.visualstudio.com/7bc545d8-bf8c-477e-bb91-17a982c30c2e/_packaging/Nexus/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
