.cls-col-width {
  width: 20%;
  text-align: center;
  font-style: italic;
  color: #9C27B0;
  font-weight: bold;
}

.tr-expandable nexus-icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}
