registry=https://registry.npmjs.org/
@ey-xd:registry=https://pkgs.dev.azure.com/EYCTXD/_packaging/EYCTXD/npm/registry/
@ey-studio-phl:registry=https://npm.ey-intuitive.com

@nexus:registry=https://fso-to.pkgs.visualstudio.com/7bc545d8-bf8c-477e-bb91-17a982c30c2e/_packaging/Nexus/npm/registry/
@nexus-ui-starter-kit:registry=https://fso-to.pkgs.visualstudio.com/7bc545d8-bf8c-477e-bb91-17a982c30c2e/_packaging/Nexus/npm/registry/

save-exact=true
always-auth=true


; begin auth token
//fso-to.pkgs.visualstudio.com/7bc545d8-bf8c-477e-bb91-17a982c30c2e/_packaging/Nexus/npm/registry/:username=fso-to
//fso-to.pkgs.visualstudio.com/7bc545d8-bf8c-477e-bb91-17a982c30c2e/_packaging/Nexus/npm/registry/:_password=[NzV0aHp2aWh5b3k2YWdudjNxeGxwc2xpaXdjdW9uaDVkeTZsZm9nNng3ZWdmNWxqNmpycQ==]
//fso-to.pkgs.visualstudio.com/7bc545d8-bf8c-477e-bb91-17a982c30c2e/_packaging/Nexus/npm/registry/:email=npm requires email to be set but doesn't use the value
//fso-to.pkgs.visualstudio.com/7bc545d8-bf8c-477e-bb91-17a982c30c2e/_packaging/Nexus/npm/:username=fso-to
//fso-to.pkgs.visualstudio.com/7bc545d8-bf8c-477e-bb91-17a982c30c2e/_packaging/Nexus/npm/:_password=[NzV0aHp2aWh5b3k2YWdudjNxeGxwc2xpaXdjdW9uaDVkeTZsZm9nNng3ZWdmNWxqNmpycQ==]
//fso-to.pkgs.visualstudio.com/7bc545d8-bf8c-477e-bb91-17a982c30c2e/_packaging/Nexus/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
