
{{#sectionTitle}}Form Field{{/sectionTitle}}

{{component
    src='/stencil/temp/form-field.html'
    css="min-height: 200px;"}}

{{#componentDocumentation}}

    <p>HTML:</p>

    {{code
        src='./playbook/stencil/examples/form-field/form-field.html'
        language='html'}}

    <p>JS:</p>

    {{code
        src='./playbook/stencil/examples/form-field/form-field.js'
        language='js'}}

{{/componentDocumentation}}
