
{{#sectionTitle}}Chip{{/sectionTitle}}

{{component
  src='/stencil/temp/chip.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/chip/chip.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/chip/chip.js'
    language='js'}}

{{/componentDocumentation}}

