
{{#sectionTitle}}Badge Examples{{/sectionTitle}}

{{component
  src='/stencil/temp/badge-examples.html'
  css="min-height: 500px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/badge/badge-examples.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/badge/badge-examples.js'
    language='js'}}

{{/componentDocumentation}}

