
{{#sectionTitle}}Badge{{/sectionTitle}}

{{component
  src='/angular/index.html?badge'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/badge/badge.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/badge/badge.component.ts'
    language='js'}}

{{/componentDocumentation}}

