{{#sectionTitle}}Breadcrumb Example{{/sectionTitle}}

{{component
src='/angular/index.html?breadcrumbExample'
css="min-height: 500px;"}}

{{#componentDocumentation}}

<p>HTML:</p>

{{code
src='./playbook/angular/src/app/components/breadcrumb-example/breadcrumb-example.component.html'
language='html'}}

<p>TS:</p>

{{code
src='./playbook/angular/src/app/components/breadcrumb-example/breadcrumb-example.component.ts'
language='js'}}

{{/componentDocumentation}}