{{#sectionTitle}}Breadcrumb Example{{/sectionTitle}}

{{component
src='/stencil/temp/breadcrumb-example.html'
css="min-height: 500px;"}}

{{#componentDocumentation}}

<p>HTML:</p>

{{code
src='./playbook/stencil/examples/breadcrumb/breadcrumb-example.html'
language='html'}}

<p>JS:</p>

{{code
src='./playbook/stencil/examples/breadcrumb/breadcrumb-example.js'
language='js'}}

{{/componentDocumentation}}