
{{#sectionTitle}}Breadcrumb{{/sectionTitle}}

{{component
  src='/stencil/temp/breadcrumb.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/breadcrumb/breadcrumb.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/breadcrumb/breadcrumb.js'
    language='js'}}

{{/componentDocumentation}}

