
{{#sectionTitle}}Breadcrumb{{/sectionTitle}}

{{component
  src='/angular/index.html?breadcrumb'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/breadcrumb/breadcrumb.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/breadcrumb/breadcrumb.component.ts'
    language='js'}}

{{/componentDocumentation}}

