
{{#sectionTitle}}Footer{{/sectionTitle}}

{{component
  src='/stencil/temp/footer.html'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/footer/footer.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/footer/footer.js'
    language='js'}}

{{/componentDocumentation}}

