
{{#sectionTitle}}Toast{{/sectionTitle}}

{{component
  src='/angular/index.html?toast'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/toast/toast.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/toast/toast.component.ts'
    language='js'}}

{{/componentDocumentation}}

