
{{#sectionTitle}}Toast{{/sectionTitle}}

{{component
  src='/stencil/temp/toast.html'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/toast/toast.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/toast/toast.js'
    language='js'}}

{{/componentDocumentation}}

