
{{#sectionTitle}}Modal{{/sectionTitle}}

{{component
  src='/angular/index.html?modal'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/modal/modal.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/modal/modal.component.ts'
    language='js'}}

{{/componentDocumentation}}

