
{{#sectionTitle}}Modal{{/sectionTitle}}

{{component
  src='/stencil/temp/modal.html'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/modal/modal.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/modal/modal.js'
    language='js'}}

{{/componentDocumentation}}

