{{#sectionTitle}}Modal Examples{{/sectionTitle}}

{{component
src='/angular/index.html?modalExamples'
css="min-height: 400px;"}}

{{#componentDocumentation}}

<p>HTML:</p>

{{code
src='./playbook/angular/src/app/components/modal-examples/modal-examples.component.html'
language='html'}}

<p>TS:</p>

{{code
src='./playbook/angular/src/app/components/modal-examples/modal-examples.component.ts'
language='js'}}

{{/componentDocumentation}}