<div class="nexus-center-xs nexus-mt-5">
  <div class="nexus-row nexus-center-xs">
    <nexus-radio
      [checked]="checked"
      data-testid="radio-btn-opt1"
      [attrId]="attrId"
      [name]="nameOption"
      [disabled]="disabled"
      [required]="required"
      [value]="value"
    >
      Option 1</nexus-radio
    >
    <nexus-radio
      data-testid="radio-btn-opt1"
      [attrId]="attrId"
      [name]="nameOption"
      [disabled]="disabled"
      [required]="required"
      [checked]="checked"
    >
      Option 2</nexus-radio
    >
  </div>
</div>
