<div class="nexus-center-xs nexus-mt-5">
    <div class="nexus-row nexus-center-xs">
        <nexus-radio data-testid="radio-btn-opt1" [name]="name" [disabled]="true">
            {{groupDisabled.first}}</nexus-radio>
        <nexus-radio data-testid="radio-btn-opt1" [name]="name" [disabled]="true">
            {{groupDisabled.second}}</nexus-radio>
        <nexus-radio data-testid="radio-btn-opt1" [name]="name" [disabled]="true">
            {{groupDisabled.third}}</nexus-radio>
    </div>
</div>