<nexus-line-chart responsive [chartData]="lineChartData" [axisLabelFontSize]=" axisLabelFontSize"
    [axisTickFontFamily]="axisTickFontFamily" [axisTickFontSize]="axisTickFontSize" chartId="NexusLineChart"
    [canvasHeight]="canvasHeight" [canvasWidth]="canvasWidth" [colorScheme]="colorScheme" [gridlines]="gridlines"
    [hideXAxis]="hideXAxis" [hideXTicks]="hideXTicks" [hideYAxis]="hideYAxis" [hideYTicks]="hideYTicks"
    [interpolation]="interpolation" [inverse]="inverse" [marginBottom]="marginBottom" [marginLeft]="marginLeft"
    [marginRight]="marginRight" [marginTop]="marginTop" [legend]="legend" [legendFontSize]="legendFontSize"
    [legendMetric]="legendMetric" [legendWidth]="legendWidth" [strokeWidth]="strokeWidth" [tooltips]="tooltips"
    [vertices]="vertices" [xLabel]="xLabel" [xMetric]="xMetric" [xTickFormat]="xTickFormat" [xTickSize]="xTickSize"
    [yLabel]="yLabel" [yMetric]="yMetric" yTickFormat="localestring" [yTickSize]="yTickSize"></nexus-line-chart>