// stylelint-disable  declaration-no-important

@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/typography';

/**
 * src/common.scss
 * Common SASS across all components
 */

/******************************
 * COLORS
 ******************************/
$color-direct: $grey-600;
$color-inverse: $grey-100;

/******************************
  * AXIS <svg:path>
  ******************************/

.axis path {
  fill: none;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.axis-direct path {
  stroke: $color-direct;
}

.axis-inverse path {
  stroke: $color-inverse;
}

/******************************
  * AXIS <svg:text>
  ******************************/

.axis text {
  pointer-events: none;
}

.axis-direct text {
  fill: $color-direct;
}

.axis-inverse text {
  fill: $color-inverse;
}

/******************************
  * AXIS TICK FONT FAMILIES
  ******************************/

.axis-sans {
  font-family: 'Gill Sans', Tahoma, Geneva, sans-serif;
}

.axis-serif {
  font-family: 'Times New Roman', Times, serif;
}

.axis-monospace {
  font-family: 'Courier New', Courier, monospace;
}

/******************************
  * AXIS LABELS
  ******************************/

.x-axis-label,
.y-axis-label {
  pointer-events: none;
}

.axis-label-inverse {
  fill: $color-inverse;
}

.axis-label-direct {
  fill: $color-direct;
}

/******************************
  * LEGEND LABEL
  ******************************/

text.legend-label {
  cursor: pointer;
}

text.legend-label-inverse {
  fill: $color-inverse;
  color: $color-inverse;
}

text.legend-label-direct {
  fill: $color-direct;
  color: $color-direct;
}

/******************************
  * TOOLTIP
  ******************************/

div.tooltip {
  position: absolute;
  border: solid 1px $grey-400;
  background: $grey-200;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  color: $grey-700;
  font-size: 1.5 * $rhythm;
  text-align: left;
  padding: 1.25 * $rhythm;
  border-radius: 0.5 * $rhythm;
  line-height: 2.25 * $rhythm;
  pointer-events: none;
  max-width: 16 * $rhythm;
}


div.tooltip > div.key {
  font-weight: 600;
}

div.tooltip > div.value {
  font-weight: normal;
  font-style: italic;
}
