{{#sectionTitle}}Toggle{{/sectionTitle}}

{{component
src='/stencil/temp/toggle.html'
css="min-height: 200px;"}}

{{#componentDocumentation}}

<p>HTML:</p>

{{code
src='./playbook/stencil/examples/toggle/toggle.html'
language='html'}}

<p>JS:</p>

{{code
src='./playbook/stencil/examples/toggle/toggle.js'
language='js'}}

{{/componentDocumentation}}