<section>
  <h1>Angular Component Examples</h1>

  <ul>
    <li><a href="?accordion">Accordion</a></li>
    <li><a href="?accordionExamples">Accordion Examples</a></li>
    <li><a href="?avatar">Avatar</a></li>
    <li><a href="?avatarExamples">Avatar Examples</a></li>
    <li><a href="?badge">Badge</a></li>
    <li><a href="?badgeExamples">Badge Examples</a></li>
    <li><a href="?barChart">Bar Chart</a></li>
    <li><a href="?breadcrumb">Breadcrumb</a></li>
    <li><a href="?breadcrumbExample">Breadcrumb Example</a></li>
    <li><a href="?button">Button</a></li>
    <li><a href="?buttonExamples">Button Examples</a></li>
    <li><a href="?card">Card</a></li>
    <li><a href="?cardExamples">Card Examples</a></li>
    <li><a href="?carousel">Carousel</a></li>
    <li><a href="?checkbox">Checkbox</a></li>
    <li><a href="?checkboxExamples">Checkbox Examples</a></li>
    <li><a href="?chip">Chip</a></li>
    <li><a href="?chipExamples">Chip Examples</a></li>
    <li><a href="?dropdown">Dropdown</a></li>
    <li><a href="?dropdownExamples">Dropdown Examples</a></li>
    <li><a href="?errorMessage">Error Message</a></li>
    <li><a href="?fileUpload">File Upload</a></li>
    <li><a href="?footer">Footer</a></li>
    <li><a href="?formField">Form Field</a></li>
    <li><a href="?formFieldExamples">Form Field Examples</a></li>
    <li><a href="?header">Header</a></li>
    <li><a href="?icon">Icon</a></li>
    <li><a href="?iconExamples">Icon Examples</a></li>
    <li><a href="?input">Input</a></li>
    <li><a href="?inputExamples">Input Examples</a></li>
    <li><a href="?loader">Loader</a></li>
    <li><a href="?lineChart">Line Chart</a></li>
    <li><a href="?loaderExamples">Loader Examples</a></li>
    <li><a href="?menu">Menu</a></li>
    <li><a href="?modal">Modal</a></li>
    <li><a href="?modalExamples">Modal Examples</a></li>
    <li><a href="?notification">Notification</a></li>
    <li><a href="?pagination">Pagination</a></li>
    <li><a href="?pieChart">Pie Chart</a></li>
    <li><a href="?pinEntry">Pin Entry</a></li>
    <li><a href="?pinEntryExamples">Pin Entry Examples</a></li>
    <li><a href="?progressBar">Progress Bar</a></li>
    <li><a href="?progressBarExamples">Progress Bar Examples</a></li>
    <li><a href="?radio">Radio</a></li>
    <li><a href="?radioExamples">Radio Examples</a></li>
    <li><a href="?search">Search</a></li>
    <li><a href="?searchExamples">Search Examples</a></li>
    <li><a href="?select">Select</a></li>
    <li><a href="?selectExample">Select Example</a></li>
    <li><a href="?slider">Slider</a></li>
    <li><a href="?sliderExamples">Slider Examples</a></li>
    <li><a href="?stepper">Stepper</a></li>
    <li><a href="?stackedBarChart">Stacked Bar Chart</a></li>
    <li><a href="?tabBar">Tab Bar</a></li>
    <li><a href="?table">Table</a></li>
    <li><a href="?tableExamples">Table Examples</a></li>
    <li><a href="?textarea">Textarea</a></li>
    <li><a href="?toast">Toast</a></li>
    <li><a href="?toastExamples">Toast Examples</a></li>
    <li><a href="?toggle">Toggle</a></li>
    <li><a href="?toggleExamples">Toggle Examples</a></li>
    <li><a href="?tooltip">Tooltip</a></li>
    <li><a href="?tooltipExamples">Tooltip Examples</a></li>
    <li><a href="?tree">Tree</a></li>
  </ul>
</section>
