@import '../../styles/variables';
@import '../../styles/typography';

.nexus-pin-entry-input .nexus-input {
  @include nexus-h4;

  display: inline-block;
  margin-right: 4px;
  height: 36px;
  width: 36px;
  text-align: center;

  &:focus {
    outline-color: 1px solid var(--pin-entry-focus-color);
    outline-style: auto;
    outline-offset: 1px;
  }
}
