
{{#sectionTitle}}Stepper{{/sectionTitle}}

{{component
  src='/stencil/temp/stepper.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/stepper/stepper.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/stepper/stepper.js'
    language='js'}}

{{/componentDocumentation}}

