{{#sectionTitle}}Bar Chart{{/sectionTitle}}

{{component
  src='/angular/index.html?barChart'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>
  {{code
    src='./playbook/angular/src/app/components/bar-chart/bar-chart.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/bar-chart/bar-chart.component.ts'
    language='js'}}

{{/componentDocumentation}}