{{#sectionTitle}}Bar Chart{{/sectionTitle}}

{{component
  src='/stencil/temp/bar-chart.html'
  css="min-height: 400px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/bar-chart/bar-chart.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/bar-chart/bar-chart.js'
    language='js'}}

{{/componentDocumentation}}