<div class="nexus-row">
    <div class="nexus-col-xs-6 nexus-col-sm-6 nexus-col-md-6 nexus-col-lg-6 nexus-col-xl-6">
        <nexus-card bg-color="#BACAF7" clickable="true" height="316px">
            <nexus-card-body>
                <h2 class="nexus-overline nexus-rhythm-1">{{backgroundColor.suggestedOffer}}</h2>
                <h3 class="nexus-h4 nexus-rhythm-1">{{backgroundColor.offerDetail}}</h3>
            </nexus-card-body>
            <nexus-card-footer>
                <a href="javascript:void(0)" class="nexus-btn nexus-btn-fluid">{{backgroundColor.enroll}}</a>
            </nexus-card-footer>
        </nexus-card>
    </div>
</div>