<div class="nexus-row">
    <div class="nexus-col-xs-6 nexus-col-sm-6 nexus-col-md-6 nexus-col-lg-6 nexus-col-xl-6">
        <nexus-card [bgImage]="fullbackground.cardBgImage" height="316px" clickable="true">
            <a href="javascript:void(0)" class="nexus-visually-hidden">{{fullbackground.readMore}}</a>
            <nexus-card-body>
                <h2 class="nexus-overline nexus-rhythm-1">{{fullbackground.nextStep}}</h2>
                <h3 class="nexus-h6 nexus-rhythm-1">{{fullbackground.detail}}</h3>
            </nexus-card-body>
        </nexus-card>
    </div>
</div>