<div class="nexus-body nexus-center-xs nexus-mt-1">
    <!-- Default Badge Example -->
    <div class="nexus-row nexus-mt-1 nexus-mt-1">
        <div class="nexus-col-xs-1">
            <div class="nexus-row">
                <div class="nexus-col-xs-4 nexus-center-xs">
                    <span>{{badgeVariant.default}}</span>
                </div>
            </div>
        </div>
        <div class="nexus-col-xs-2">
            <div class="nexus-row">
                <div class="nexus-col-xs-1">
                    <nexus-badge>{{badgeVariant.oneDigit}}</nexus-badge>
                </div>
                <div class="nexus-col-xs-1">
                    <nexus-badge>{{badgeVariant.twoDigit}}</nexus-badge>
                </div>
                <div class="nexus-col-xs-1">
                    <nexus-badge>{{badgeVariant.threeDigit}}</nexus-badge>
                </div>
                <div class="nexus-col-xs-1">
                    <nexus-badge>{{badgeVariant.fourDigit}}</nexus-badge>
                </div>
            </div>
        </div>
    </div>

    <!-- Success Badge Example -->
    <div class="nexus-row nexus-mt-1 nexus-mt-1">
        <div class="nexus-col-xs-1">
            <div class="nexus-row">
                <div class="nexus-col-xs-4 nexus-center-xs">
                    <span>{{badgeVariant.success}}</span>
                </div>
            </div>
        </div>
        <div class="nexus-col-xs-2">
            <div class="nexus-row">
                <div class="nexus-col-xs-1">
                    <nexus-badge variant="success">{{badgeVariant.oneDigit}}</nexus-badge>
                </div>
                <div class="nexus-col-xs-1">
                    <nexus-badge variant="success">{{badgeVariant.twoDigit}}</nexus-badge>
                </div>
                <div class="nexus-col-xs-1">
                    <nexus-badge variant="success">{{badgeVariant.threeDigit}}</nexus-badge>
                </div>
                <div class="nexus-col-xs-1">
                    <nexus-badge variant="success">{{badgeVariant.fourDigit}}</nexus-badge>
                </div>
            </div>
        </div>
    </div>

    <!-- Warning Badge Example -->
    <div class="nexus-row nexus-mt-1 nexus-mt-1">
        <div class="nexus-col-xs-1">
            <div class="nexus-row">
                <div class="nexus-col-xs-4 nexus-center-xs">
                    <span>{{badgeVariant.warning}}</span>
                </div>
            </div>
        </div>
        <div class="nexus-col-xs-2">
            <div class="nexus-row">
                <div class="nexus-col-xs-1">
                    <nexus-badge variant="warning">{{badgeVariant.oneDigit}}</nexus-badge>
                </div>
                <div class="nexus-col-xs-1">
                    <nexus-badge variant="warning">{{badgeVariant.twoDigit}}</nexus-badge>
                </div>
                <div class="nexus-col-xs-1">
                    <nexus-badge variant="warning">{{badgeVariant.threeDigit}}</nexus-badge>
                </div>
                <div class="nexus-col-xs-1">
                    <nexus-badge variant="warning">{{badgeVariant.fourDigit}}</nexus-badge>
                </div>
            </div>
        </div>
    </div>

    <!-- Error Badge Example -->
    <div class="nexus-row nexus-mt-1 nexus-mt-1">
        <div class="nexus-col-xs-1">
            <div class="nexus-row">
                <div class="nexus-col-xs-4 nexus-center-xs">
                    <span>{{badgeVariant.error}}</span>
                </div>
            </div>
        </div>
        <div class="nexus-col-xs-2">
            <div class="nexus-row">
                <div class="nexus-col-xs-1">
                    <nexus-badge variant="error">{{badgeVariant.oneDigit}}</nexus-badge>
                </div>
                <div class="nexus-col-xs-1">
                    <nexus-badge variant="error">{{badgeVariant.twoDigit}}</nexus-badge>
                </div>
                <div class="nexus-col-xs-1">
                    <nexus-badge variant="error">{{badgeVariant.threeDigit}}</nexus-badge>
                </div>
                <div class="nexus-col-xs-1">
                    <nexus-badge variant="error">{{badgeVariant.fourDigit}}</nexus-badge>
                </div>
            </div>
        </div>
    </div>
</div>