<div class="nexus-row nexus-around-xs nexus-mt-5">
    <div class="nexus-col-xs-1 nexus-col-md-1">
        <button class="nexus-btn nexus-btn-icon">
            <nexus-icon [src]="iconInfo.logo"></nexus-icon>
            <nexus-badge overlap="true" variant="error"></nexus-badge>
        </button>
    </div>
    <div class="nexus-col-xs-1 nexus-col-md-1">
        <button class="nexus-btn nexus-btn-icon">
            <nexus-icon [src]="iconInfo.alarm"></nexus-icon>
            <nexus-badge overlap="true" variant="success"></nexus-badge>
        </button>
    </div>
    <div class="nexus-col-xs-1 nexus-col-md-1">
        <button class="nexus-btn nexus-btn-icon">
            <nexus-icon [src]="iconInfo.email"></nexus-icon>
            <nexus-badge overlap="true" variant="warning"></nexus-badge>
        </button>
    </div>
    <div class="nexus-col-xs-1 nexus-col-md-1">
        <button class="nexus-btn nexus-btn-icon">
            <nexus-icon [src]="iconInfo.favourite"></nexus-icon>
            <nexus-badge overlap="true" variant="default"></nexus-badge>
        </button>
    </div>
</div>