
{{#sectionTitle}}Input{{/sectionTitle}}

{{component
    src='/stencil/temp/input.html'
    css="min-height: 200px;"}}

{{#componentDocumentation}}

    <p>HTML:</p>

    {{code
        src='./playbook/stencil/examples/input/input.html'
        language='html'}}

    <p>JS:</p>

    {{code
        src='./playbook/stencil/examples/input/input.js'
        language='js'}}

{{/componentDocumentation}}
