<nexus-footer class="nexus-footer-sticky">
  <nexus-footer-logo>
    <a href="javascript:void(0)">
      <nexus-icon src="./assets/images/nexus-footer-logo.svg"></nexus-icon>
      <span class="nexus-visually-hidden">Home</span>
    </a>
  </nexus-footer-logo>
  <nexus-footer-column>
    <nexus-footer-content-title>
      <p>title</p>
    </nexus-footer-content-title>
    <nexus-footer-content>
      <a href="javascript:void(0)">Amsterdam</a>
    </nexus-footer-content>
    <nexus-footer-content>
      <a href="javascript:void(0)">Dordrecht</a>
    </nexus-footer-content>
  </nexus-footer-column>
  <nexus-footer-column>
    <nexus-footer-content-title>
      <p>title</p>
    </nexus-footer-content-title>
    <nexus-footer-content>
      <a href="javascript:void(0)">Amsterdam</a>
    </nexus-footer-content>
    <nexus-footer-content>
      <a href="javascript:void(0)">Dordrecht</a>
    </nexus-footer-content>
    <nexus-footer-content>
      <a href="javascript:void(0)">Eindhoven</a>
    </nexus-footer-content>
  </nexus-footer-column>
  <nexus-footer-bottom>
    <span>Copyright&#169; Ernst & Young, LLC. All rights reserved</span>
  </nexus-footer-bottom>
</nexus-footer>
