@use 'sass:math';
@import 'variables';

// Function for converting a px based font-size to rem.
@function rem($size) {
  $remSize: math.div($size, 16px);

  @return #{$remSize}rem;
}

@mixin nexus-visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
  appearance: none;
}

@mixin placeholder() {
  color: $placeholder-color;
  font-size: rem($placeholder-size);
  line-height: 1.7;
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

// --------------------------------------------------
// Breakpoints
// --------------------------------------------------

@mixin mq($mq-breakpoint, $mq-breakpoints: $nexus-breakpoints) {
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-deep-get($mq-breakpoints, $mq-breakpoint, 'min-width');
  }

  @media screen and (min-width: #{$mq-breakpoint}) {
    @content;
  }
}

@mixin mq-max($mq-breakpoint, $mq-breakpoints: $nexus-breakpoints) {
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-deep-get($mq-breakpoints, $mq-breakpoint, 'max-width');
  }

  @if ($mq-breakpoint) {
    @media screen and (max-width: #{$mq-breakpoint}) {
      @content;
    }
  }

  @else {
    @media screen {
      @content;
    }
  }
}

