<div class="nexus-row">
  <div class="nexus-col-xs-6">
    <nexus-card [bgColor]="bgColor" [clickable]="clickable" [height]="height">
      <nexus-card-avatar>
        <img [src]="bgImage === '' ? './assets/images/card-header-image.png':bgImage" alt="Michael Bay" />
      </nexus-card-avatar>
      <nexus-card-header>
        <nexus-card-header-title>Michael Bay</nexus-card-header-title>
        <nexus-card-header-subtitle>User Profile Card</nexus-card-header-subtitle>
        <nexus-card-header-details>Last login: 02.20.21</nexus-card-header-details>
        <nexus-card-header-button>
          <button class="nexus-btn-icon" id="btn" title="btn">
            <nexus-icon src="./assets/icons/navigation/ic_more_horiz_24px.svg"></nexus-icon>
          </button>
        </nexus-card-header-button>
      </nexus-card-header>
      <nexus-card-footer>
        <button class="nexus-btn-primary nexus-btn-medium">View Profile</button>
        <button class="nexus-btn nexus-btn-medium">Contact User</button>
      </nexus-card-footer>
    </nexus-card>
  </div>
</div>
