
{{#sectionTitle}}Tree{{/sectionTitle}}

{{component
  src='/stencil/temp/tree.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/tree/tree.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/tree/tree.js'
    language='js'}}

{{/componentDocumentation}}

