
{{#sectionTitle}}Tree{{/sectionTitle}}

{{component
  src='/angular/index.html?tree'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/tree/tree.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/tree/tree.component.ts'
    language='js'}}

{{/componentDocumentation}}

