<nexus-pie-chart [chartId]="chartId" [colorScheme]="colorScheme" [innerRadius]="innerRadius" [inverse]="inverse"
  [legendFontSize]="legendFontSize" [legendWidth]="legendWidth" [stroke]="stroke" [strokeWidth]="strokeWidth"
  [tooltips]="tooltips" [valueFormat]="valueFormat" [canvasWidth]="canvasWidth" [marginBottom]="marginBottom"
  [marginLeft]="marginLeft" [marginRight]="marginRight" [marginTop]="marginTop" [canvasHeight]="canvasHeight"
  [chartData]="" [legend]="legend" [legendWidth]="legendWidth" legend-metric="artist" responsive [stroke]="stroke"
  tooltips [valueFormat]="valueFormat" value-metric="units"></nexus-pie-chart>