
{{#sectionTitle}}Textarea{{/sectionTitle}}

{{component
  src='/stencil/temp/textarea.html'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/stencil/examples/textarea/textarea.html'
    language='html'}}

  <p>JS:</p>

  {{code
    src='./playbook/stencil/examples/textarea/textarea.js'
    language='js'}}

{{/componentDocumentation}}

