{{#sectionTitle}}Textarea{{/sectionTitle}}

{{component
  src='/angular/index.html?textarea'
  css="min-height: 200px;"}}

{{#componentDocumentation}}

  <p>HTML:</p>

  {{code
    src='./playbook/angular/src/app/components/textarea/textarea.component.html'
    language='html'}}

  <p>TS:</p>

  {{code
    src='./playbook/angular/src/app/components/textarea/textarea.component.ts'
    language='js'}}

{{/componentDocumentation}}
