<nexus-stacked-bar-chart [chartData]="" chart-id="mynexusStackedBarChart" [linearMetric]="linearMetric"
    [linearTickFormat]="linearTickFormat" [marginLeft]="marginLeft" [marginTop]="marginTop" [marginRight]="marginRight"
    [marginBottom]="marginBottom" [ordinalMetric]=ordinalMetric responsive="" [seriesMetric]="seriesMetric"
    [xLabel]=xLabel [yLabel]="yLabel" [legend]="legend" [linearDomain]="linearDomain" class="hydrated"
    [axisLabelFontSize]="axisLabelFontSize" [axisTickFontFamily]="axisTickFontFamily"
    [axisTickFontSize]="axisTickFontSize" [barStroke]="barStroke" [barStrokeWidth]="barStrokeWidth"
    [colorScheme]="colorScheme" [gridlines]="gridlines" [hideXAxis]="hideXAxis" [hideXTicks]="hideXTicks"
    [hideYAxis]="hideYAxis" [hideYTicks]="hideYTicks" [inverse]="inverse" [legend]="legend"
    [legendFontSize]="legendFontSize" [legendWidth]="legendWidth" [maxBarWidth]="maxBarWidth"
    [orientation]="orientation" [tooltips]="tooltips" [xTickSize]="xTickSize" [yTickSize]="yTickSize"
    [canvasHeight]="canvasHeight" [canvasWidth]="canvasWidth"></nexus-stacked-bar-chart>