<div class="nexus-row nexus-around-xs">
  <div class="nexus-col-md-1">
    <p class="nexus-h6">xs</p>
    <nexus-avatar
      [avatarSize]="sizeXS"
      [userName]="name"
      [avatarLogoIcon]="logoIcon"
      [avatarNameDisplay]="avatarNameDisplay"
    >
    </nexus-avatar>
  </div>
  <div class="nexus-col-md-1">
    <p class="nexus-h6">SM</p>
    <nexus-avatar
      [avatarSize]="sizeSM"
      [userName]="name"
      [avatarLogoIcon]="logoIcon"
      [avatarNameDisplay]="avatarNameDisplay"
    >
    </nexus-avatar>
  </div>
  <div class="nexus-col-md-1">
    <p class="nexus-h6">MD</p>
    <nexus-avatar
      [avatarSize]="sizeMD"
      [userName]="name"
      [avatarLogoIcon]="logoIcon"
      [avatarNameDisplay]="avatarNameDisplay"
    >
    </nexus-avatar>
  </div>
  <div class="nexus-col-md-1">
    <p class="nexus-h6">LG</p>
    <nexus-avatar
      [avatarSize]="sizeLG"
      [userName]="name"
      [avatarLogoIcon]="logoIcon"
      [avatarNameDisplay]="avatarNameDisplay"
    >
    </nexus-avatar>
  </div>
  <div class="nexus-col-md-1">
    <p class="nexus-h6">XL</p>
    <nexus-avatar
      [avatarSize]="sizeXL"
      [userName]="name"
      [avatarLogoIcon]="logoIcon"
      [avatarNameDisplay]="avatarNameDisplay"
    >
    </nexus-avatar>
  </div>
</div>
